* {
    box-sizing: border-box;
  }
/* general appearance of page */
  body {
    font-family: Helvetica, serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    color: rgb(19, 117, 121)
  }

  /* page header layout/font/background color */
  header {
    padding: 40px;
    text-align: left;
    background: cadetblue;
    color: #fff;
  }

  header h1 {
    font-style: oblique;
    font-size: 300%;
    font-variant: small-caps;
    text-shadow: 3px 5px rgb(19, 117, 121);

  }

  /* nav bar background display */
  nav {
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
  }

  /* nav bar text display */
  nav a {
    color: rgb(19, 117, 121);
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
  }

  nav a:hover {
    color: #fff;
  }

  main {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  aside {
    flex: 1;
    background-color: #b9c6ae;
    padding: 10px;
    text-align: left;
  }

  /* display size for center content */
.main-section {
    flex: 4;
}

h2 {
    margin: 2% 0;
    font-size: 250%;

  }

/* format project items */
  .projects {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }


  .projects header {
  padding: 10px;
  text-align: right;
  font-size: large;
  font-style: oblique;
  opacity: calc(60%);
  color: #fff;
  position: absolute;
  }

  .box-one {
    border-style: hidden;
    border-width: 1px;
    padding: 10px;
    box-shadow: 10px 10px 10px #d8dadc;
    margin: 20px;
  }

  .box-two {
    border-style: hidden;
    border-width: 1px;
    padding: 10px;
    box-shadow: 10px 10px 10px #d8dadc;
    margin: 20px;
    flex: 0 0 300px;
  }

  /* highlight when hovering */
  .box-one:hover, .box-two:hover {
    background-color: rgb(250, 238, 224);
  }

  .contact {
    width:100%;
  }

  footer {
    width: 100%;
    padding: 15px;
    text-align: center;
    background: cadetblue;
    color: #fff;
    margin-top: auto;
  }

  /* footer text */
  footer h2 {
    font-style: oblique;
    font-size: 125%;
    font-variant: small-caps;
    text-shadow: 1px 3px rgb(19, 117, 121);
  }


/* bottom of css-adjust layout to viewport */
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }