* {
    box-sizing: border-box;
  }
/* general appearance of page */
  body {
    font-family: Helvetica, serif;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

  /* page header layout/font/background color */
  header {
    padding: 40px;
    text-align: left;
    background: cadetblue;
    color: #fff;
  }

  header h1 {
    font-style: oblique;
    font-size: 300%;
    font-variant: small-caps;
    text-shadow: 3px 5px rgb(19, 117, 121);

  }

  /* nav bar background display */
  nav {
    display: flex;
    justify-content: space-evenly;
    background-color: bisque;
  }

  /* nave bar text display */
  nav a {
    color: rgb(19, 117, 121);
    font-weight: bold;
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
  }








/* bottom of css-adjust layout to viewport */
  @media screen and (max-width: 768px) {
    main,
    nav {
      flex-direction: column;
    }
  }