* {
    box-sizing: border-box;
  }
/* general appearance of page */
  body {
    font-family: Arial;
    margin: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
  }

  /* page header layout/font/background color */
  header {
    padding: 40px;
    text-align: left;
    background: cadetblue;
    color: #fff;
  }

  /* nav bar background display */
  nav {
    display: flex;
    background-color: bisque;
  }

  /* nave bar text display */
  nav a {
    color: rgb(19, 117, 121);
    padding: 15px 30px;
    text-decoration: none;
    text-align: center;
  }